# pandemic

This is a simple Jupyter Notebook for Covid-19 Pandemic Analysis.

Load packages etc...

In [5]:
import pandas as pd
import numpy as np

Download data from `CSSEGISandData`:

In [6]:
from urllib import request
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
confirmed_file = './data/raw/confirmed.csv'
request.urlretrieve(confirmed_url, confirmed_file)
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths_file = './data/raw/deaths.csv'
request.urlretrieve(deaths_url, deaths_file)

('./data/raw/deaths.csv', <http.client.HTTPMessage at 0x26938c80ac0>)

Load data into dataframes:

In [7]:
confirmed = pd.read_csv(confirmed_file, index_col=False)
deaths = pd.read_csv(deaths_file, index_col=False)

Show some info about data:

In [8]:
confirmed.info()
confirmed.describe()

deaths.info()
deaths.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 677 entries, Province/State to 11/24/21
dtypes: float64(2), int64(673), object(2)
memory usage: 1.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 677 entries, Province/State to 11/24/21
dtypes: float64(2), int64(673), object(2)
memory usage: 1.4+ MB

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,11/15/21,11/16/21,11/17/21,11/18/21,11/19/21,11/20/21,11/21/21,11/22/21,11/23/21,11/24/21
count,278.000000,278.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,...,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000
mean,20.156042,21.788955,0.060714,0.064286,0.092857,0.150000,0.200000,0.292857,0.467857,0.475000,...,18240.192857,18267.407143,18300.007143,18329.292857,18358.996429,18380.239286,18395.957143,18421.782143,18450.460714,18480.932143
std,25.283318,76.200169,1.015944,1.017487,1.436326,2.391517,3.109011,4.542900,7.470302,7.470809,...,72167.456781,72249.836109,72360.662293,72454.594348,72564.500849,72614.567863,72647.989368,72724.910851,72820.317550,72925.654515
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.643279,-37.713675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.750000,21.750000,21.750000,21.750000,21.750000,21.750000,21.750000,21.750000,21.750000,22.000000
50%,21.517170,20.921188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,663.000000,665.000000,665.000000,666.000000,666.000000,666.000000,666.500000,669.000000,671.500000,674.500000
75%,40.393350,84.992575,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6736.250000,6755.250000,6773.500000,6787.000000,6799.500000,6816.750000,6824.250000,6835.750000,6845.750000,6851.000000
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,764533.000000,765811.000000,767433.000000,768695.000000,770691.000000,771013.000000,771118.000000,772344.000000,773770.000000,775403.000000

Show some top data about `Poland`:

In [9]:
confirmed[confirmed['Country/Region'] == 'Poland'].head(10)
deaths[deaths['Country/Region'] == 'Poland'].head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/15/21,11/16/21,11/17/21,11/18/21,11/19/21,11/20/21,11/21/21,11/22/21,11/23/21,11/24/21
213,NaN,Poland,51.9194,19.1451,0,0,0,0,0,0,...,78879,79161,79624,79994,80399,80781,80822,80830,81228,81688

Clean up data:

In [10]:
confirmed = confirmed[confirmed['Country/Region'] == 'Poland']
confirmed = confirmed.drop(columns=['Province/State','Lat','Long', 'Country/Region'])
deaths = deaths[deaths['Country/Region'] == 'Poland']
deaths = deaths.drop(columns=['Province/State','Lat','Long', 'Country/Region'])

Calculate differences:

In [11]:
confirmed_daily = confirmed.diff(periods=1, axis=1)
confirmed_daily = confirmed_daily.replace(np.nan, 0)
deaths_daily = deaths.diff(periods=1, axis=1)
deaths_daily = deaths_daily.replace(np.nan, 0)

Unpivot data:

In [12]:
confirmed_total = confirmed.melt(
        var_name="date",
        value_name="total_cases")

confirmed_daily = confirmed_daily.melt(
        var_name="date",
        value_name="confirmed_by_day")

deaths_total = deaths.melt(
        var_name="date",
        value_name="total_deaths")

deaths_daily = deaths_daily.melt(
        var_name="date",
        value_name="deaths_by_day")

Merge data:

In [13]:
confirmed_temp = pd.merge(confirmed_total, confirmed_daily, how='left', on='date')
deaths_temp = pd.merge(deaths_total, deaths_daily, how='left', on='date')
poland_cases = pd.merge(confirmed_temp, deaths_temp, how='left', on='date')
poland_cases.replace(np.nan, 0)
poland_cases.confirmed_by_day = poland_cases.confirmed_by_day.astype(int)
poland_cases.deaths_by_day = poland_cases.deaths_by_day.astype(int)

poland_cases.tail(50)

         date  total_cases  confirmed_by_day  total_deaths  deaths_by_day
623   10/6/21      2914962              2086         75774             33
624   10/7/21      2916969              2007         75803             29
625   10/8/21      2918863              1894         75834             31
626   10/9/21      2920874              2011         75864             30
627  10/10/21      2922401              1527         75869              5
628  10/11/21      2923304               903         75869              0
629  10/12/21      2925425              2121         75918             49
630  10/13/21      2928065              2640         75958             40
631  10/14/21      2931064              2999         76018             60
632  10/15/21      2933834              2770         76067             49
633  10/16/21      2937069              3235         76111             44
634  10/17/21      2939590              2521         76112              1
635  10/18/21      2941126              1536         76115              3
636  10/19/21      2945056              3930         76179             64
637  10/20/21      2950616              5560         76254             75
638  10/21/21      2956207              5591         76300             46
639  10/22/21      2961923              5716         76359             59
640  10/23/21      2968200              6277         76434             75
641  10/24/21      2972927              4727         76447             13
642  10/25/21      2975880              2953         76447              0
643  10/26/21      2982143              6263         76540             93
644  10/27/21      2990509              8366         76672            132
645  10/28/21      2998891              8382         76773            101
646  10/29/21      3008294              9403         76875            102
647  10/30/21      3018100              9806         76990            115
648  10/31/21      3025247              7147         76999              9
649   11/1/21      3030151              4904         77012             13
650   11/2/21      3034668              4517         77021              9
651   11/3/21      3045102             10434         77145            124
652   11/4/21      3060613             15511         77395            250
653   11/5/21      3076518             15905         77547            152
654   11/6/21      3091713             15195         77733            186
655   11/7/21      3104220             12507         77757             24
656   11/8/21      3111534              7314         77760              3
657   11/9/21      3125179             13645         77980            220
658  11/10/21      3143725             18546         78250            270
659  11/11/21      3162804             19079         78524            274
660  11/12/21      3175769             12965         78555             31
661  11/13/21      3190067             14298         78821            266
662  11/14/21      3204515             14448         78867             46
663  11/15/21      3214023              9508         78879             12
664  11/16/21      3230634             16611         79161            282
665  11/17/21      3254875             24241         79624            463
666  11/18/21      3279787             24912         79994            370
667  11/19/21      3303046             23259         80399            405
668  11/20/21      3326464             23418         80781            382
669  11/21/21      3345388             18924         80822             41
670  11/22/21      3357763             12375         80830              8
671  11/23/21      3377698             19935         81228            398
672  11/24/21      3406129             28431         81688            460