# pandemic

This is a simple Jupyter Notebook for Covid-19 Pandemic Analysis.

Load packages etc...

In [1]:
import pandas as pd
import numpy as np

Download data from `CSSEGISandData`:

In [2]:
from urllib import request
confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
confirmed_file = './data/raw/confirmed.csv'
request.urlretrieve(confirmed_url, confirmed_file)
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
deaths_file = './data/raw/deaths.csv'
request.urlretrieve(deaths_url, deaths_file)

('./data/raw/deaths.csv', <http.client.HTTPMessage at 0x16044a6d400>)

Load data into dataframes:

In [3]:
confirmed = pd.read_csv(confirmed_file, index_col=False)
deaths = pd.read_csv(deaths_file, index_col=False)

Show some info about data:

In [4]:
confirmed.info()
confirmed.describe()

deaths.info()
deaths.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 725 entries, Province/State to 1/11/22
dtypes: float64(2), int64(721), object(2)
memory usage: 1.5+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Columns: 725 entries, Province/State to 1/11/22
dtypes: float64(2), int64(721), object(2)
memory usage: 1.5+ MB

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,1/2/22,1/3/22,1/4/22,1/5/22,1/6/22,1/7/22,1/8/22,1/9/22,1/10/22,1/11/22
count,278.000000,278.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,...,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000,280.000000
mean,20.156042,21.788955,0.060714,0.064286,0.092857,0.150000,0.200000,0.292857,0.467857,0.475000,...,19444.017857,19465.078571,19492.853571,19520.617857,19546.539286,19572.500000,19590.464286,19604.596429,19627.546429,19658.525000
std,25.283318,76.200169,1.015944,1.017487,1.436326,2.391517,3.109011,4.542900,7.470302,7.470809,...,76275.508809,76362.649463,76483.215265,76590.488943,76691.519418,76817.889761,76870.765077,76920.171951,77015.771337,77148.692281
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.643279,-37.713675,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,22.750000,22.750000,22.750000,22.750000,22.750000,22.750000,22.750000,22.750000,23.750000,25.500000
50%,21.517170,20.921188,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,708.500000,709.500000,709.500000,710.500000,710.500000,713.000000,721.000000,726.000000,727.500000,728.500000
75%,40.393350,84.992575,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7355.000000,7355.750000,7365.250000,7367.500000,7367.750000,7369.000000,7369.750000,7372.250000,7375.250000,7377.000000
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,826289.000000,827977.000000,830134.000000,832120.000000,833990.000000,836605.000000,837266.000000,837665.000000,839500.000000,842141.000000

Show some top data about `Poland`:

In [5]:
confirmed[confirmed['Country/Region'] == 'Poland'].head(10)
deaths[deaths['Country/Region'] == 'Poland'].head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/2/22,1/3/22,1/4/22,1/5/22,1/6/22,1/7/22,1/8/22,1/9/22,1/10/22,1/11/22
213,NaN,Poland,51.9194,19.1451,0,0,0,0,0,0,...,97592,97601,98034,98666,99311,99428,99720,99742,99761,100254

Clean up data:

In [6]:
confirmed = confirmed[confirmed['Country/Region'] == 'Poland']
confirmed = confirmed.drop(columns=['Province/State','Lat','Long', 'Country/Region'])
deaths = deaths[deaths['Country/Region'] == 'Poland']
deaths = deaths.drop(columns=['Province/State','Lat','Long', 'Country/Region'])

Calculate differences:

In [7]:
confirmed_daily = confirmed.diff(periods=1, axis=1)
confirmed_daily = confirmed_daily.replace(np.nan, 0)
deaths_daily = deaths.diff(periods=1, axis=1)
deaths_daily = deaths_daily.replace(np.nan, 0)

Unpivot data:

In [8]:
confirmed_total = confirmed.melt(
        var_name="date",
        value_name="total_cases")

confirmed_daily = confirmed_daily.melt(
        var_name="date",
        value_name="confirmed_by_day")

deaths_total = deaths.melt(
        var_name="date",
        value_name="total_deaths")

deaths_daily = deaths_daily.melt(
        var_name="date",
        value_name="deaths_by_day")

Merge data:

In [9]:
confirmed_temp = pd.merge(confirmed_total, confirmed_daily, how='left', on='date')
deaths_temp = pd.merge(deaths_total, deaths_daily, how='left', on='date')
poland_cases = pd.merge(confirmed_temp, deaths_temp, how='left', on='date')
poland_cases.replace(np.nan, 0)
poland_cases.confirmed_by_day = poland_cases.confirmed_by_day.astype(int)
poland_cases.deaths_by_day = poland_cases.deaths_by_day.astype(int)

#poland_cases.tail(50)

poland_cases_filtered = poland_cases[['date','confirmed_by_day','deaths_by_day']]
poland_cases_filtered.tail(100)

        date  confirmed_by_day  deaths_by_day
621  10/4/21               683              0
622  10/5/21              1327             46
623  10/6/21              2086             33
624  10/7/21              2007             29
625  10/8/21              1894             31
..       ...               ...            ...
716   1/7/22             11901            117
717   1/8/22             10897            292
718   1/9/22             11107             22
719  1/10/22              7787             19
720  1/11/22             11402            493

[100 rows x 3 columns]